
:root {
--color-primary:rgb(0,121,194);   /*HH Blue */
--color-background:rgb(255,255,255);/* valkoinen */
--color-surface:rgb(230,230,230);   /* harmaa*/
--color-text:rgb(0,0,0); /* musta */
--color-text-secondary:rgb(255,255,255); /*valkoinen*/}




body {margin:0;
       color:var(--color-text);
      background-color:var(--color-background);
      font-family: 'Roboto',sans-serif;}

header  a {font-size: 3em;
           color:var(--color-primary);
          text-decoration: none;
          margin-left:10px}

main {padding:0px 10px 40px 10px;}

h1 {color:var(--color-primary);
    margin-top:0px;font-size: 1.6rem;}

h1 img {width: 50px; vertical-align: middle;}

 h2 {text-align:center}

.coloraccent {color:var(--color-primary)}

.quote {border-left:var(--color-primary) solid 5px;
        padding-left: 20px;
        padding-top:5px;
        padding-bottom:5px}

.cafe {width: 80%; max-width:300px; display:block; margin:auto; border-radius:10px}

main {    
    container-type:inline-size ;   
    container-name:column;  
  }

@container column (min-width: 500px) {
      .flex-container { display:flex; 
                           }
  }


footer {background-color:var(--color-primary);
       color:var(--color-text-secondary);
       text-align:center;

       display:flex;
      height:50px;
      width: 100%;
            position:fixed;
            bottom:0px;

          padding:5px 0px 0px 0px; }
 footer a {flex:1; color:var(--color-text-secondary);
           text-decoration: none;}


